{% extends 'base.html' %}

{% block title %}Gestión de Lecturas{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Registro de Lectura</h4>
          <form class="form-sample" method="POST" action="#">
            {% csrf_token %}
            <p class="card-description">
              Ingresa los detalles de la lectura:
            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="casa">Número de Casa</label>
                  <input type="text" class="form-control" id="casa" name="casa" placeholder="Ej. 123" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lectura">Lectura Actual</label>
                  <input type="text" class="form-control" id="lectura" name="lectura" placeholder="Ej. 100" required>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Guardar</button>
            <button class="btn btn-light">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
